header.header
  h1.header__title Мои отзывы о товарах
  div.notify
    span.notify__icon
      i.fas.fa-exclamation-circle
    p.notify__title Ваши отзывы будут опубликованы на сайте после проверки модератором.
