doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            title Shop revievws
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            link(rel="stylesheet" href="css/style.css")
            link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap")
            link(rel="stylesheet" href="lib/all.min.css")
    body
        block header
            include header
        block content
        block scripts
            script(src='/js/main.min.js')
