@import "../../local_modules/normalize.css/normalize";
@import "../common/variables";
@import "../mixins/base";
@import "../mixins/media";

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-stack;
    color: $primary-color;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}
